@model PagedList.IPagedList<book.Models.Entities.Publisher>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách nhà xuất bản</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create", null, new {@class="btn btn-warning"})
</p>
<table class="table  table-bordered">
    <tr>
        <th>
            STT
        </th>
        <th>
            Tên nhà xuất bản
        </th>
        <th>
            Ngày tạo
        </th>
        <th>
            Giới thiệu
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    @{
        var pageNumber = 1;
        var pageSize = 3;
        if (Request.QueryString["page"] != null)
        {
            pageNumber = Int32.Parse(Request.QueryString["page"]);
        }
        if (Request.QueryString["pageSize"] != null)
        {
            pageSize = Int32.Parse(Request.QueryString["pageSize"]);
        }

        var index = (pageNumber - 1) * pageSize + 1;

    }
@foreach (var item in Model) {
    <tr>
        <td>
            @index
            @{
                index++;
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td style="text-align: center">
            @Html.ActionLink(" ", "Edit", new {id = item.ID}, new {@class = "btn btn-primary fa fa-edit", @title="Chỉnh sửa"}) 
        @*    @Html.ActionLink(" ", "Details", new {id = item.ID}, new {@class = "btn btn-success fa fa-folder-open-o"}) |*@
          @*  @Html.ActionLink(" ", "Delete", new {id = item.ID}, new {@class = "btn btn-danger 	fa fa-trash-o"})*@
        </td>
        
        <td style="text-align: center">
         @*   @Html.ActionLink(" ", "Edit", new {id = item.ID}, new {@class = "btn btn-primary fa fa-edit"}) |*@
            @Html.ActionLink(" ", "Details", new {id = item.ID}, new {@class = "btn btn-success fa fa-folder-open-o",@title="Chi tiết"}) 
          @*  @Html.ActionLink(" ", "Delete", new {id = item.ID}, new {@class = "btn btn-danger 	fa fa-trash-o"})*@
        </td>
        
        <td style="text-align: center">
            @*@Html.ActionLink(" ", "Edit", new {id = item.ID}, new {@class = "btn btn-primary fa fa-edit"})*@ 
            @*@Html.ActionLink(" ", "Details", new {id = item.ID}, new {@class = "btn btn-success fa fa-folder-open-o"}) |*@
           @Html.ActionLink(" ", "Delete", new {id = item.ID}, new {@class = "btn btn-danger 	fa fa-trash-o", @title="Xóa"})
        </td>
    </tr>
}

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new {page}))