@model PagedList.IPagedList<book.Models.Entities.Publisher>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách nhà xuất bản</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create", null, new {@class="btn btn-warning"})
</p>
<table class="table">
    <tr>
        <th>
            Tên nhà xuất bản
        </th>
        <th>
           Ngày tạo
        </th>
        <th>
            Giới thiệu
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "btn btn-primary fa fa-edit" }) |
            @Html.ActionLink(" ", "Details", new { id = item.ID }, new { @class = "btn btn-success fa fa-folder-open-o" }) |
            @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "btn btn-danger 	fa fa-trash-o" })
        </td>
    </tr>
}

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new {page}))