@model book.Models.Entities.Author

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>Tác giả</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @if (Model.Gender == 1)
            {
                <span>
                    Nam
                </span>

            }
            else
            {
                <span>
                    Nữ
                </span>
            }
            @*@Html.DisplayFor(model => model.Gender)*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>

        <dd>
            <img style="max-width: 300px" src="@Model.Avatar" />
            @*@Html.DisplayFor(model => model.Avatar)*@
        </dd>

    </dl>
</div>
<p>
    <span class="fa fa-arrow-circle-left" style="color: red"></span>
    @Html.ActionLink("Trở lại", "Index")
    |@Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.ID })
</p>
