@model PagedList.IPagedList<book.Models.Entities.InvoiceStatu>
@using PagedList.Mvc;

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên
        </th>
        @*<th>
            Thứ tự
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.TheOrder)
        </td>*@
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "btn btn-primary fa fa-edit" }) |
            @Html.ActionLink(" ", "Details", new { id = item.ID }, new { @class = "btn btn-success fa fa-folder-open-o" }) |
            @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "btn btn-danger 	fa fa-trash-o" })
        </td>
    </tr>
}

</table>
<!-- Thêm mã phân trang -->
<br />
@*Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount*@
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
<!-- Kết thúc -->