@model IEnumerable<BookManagementSystem.Models.TheLoai>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách thể loại</h2>

<p>
    @Html.ActionLink(" ", "Create",null, new { @class = "btn btn-info fa fa-plus", title="Thêm mới" })
</p>
<table class="table">
    <tr>
        <th>
           Tên thể loại@* @Html.DisplayNameFor(model => model.Name)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.ID }
                     , new { @class = "btn btn-primary fa fa-edit", title="Sửa" }) |
            @Html.ActionLink(" ", "Details", new { id=item.ID }
                            , new { @class = "btn btn-success fa fa-folder-open-o", title = "Chi tiết" }) |
            @Html.ActionLink(" ", "Delete", new { id=item.ID }
                            , new { @class = "btn btn-danger fa fa-trash-o", title = "Xóa" })
        </td>
    </tr>
}

</table>
