@{
    Layout = null;
}

<div class="left-sidebar">
    <h2>Thể loại</h2>
    <div class="panel-group category-products" id="accordian">
        <!--category-productsr-->

        @foreach (var item in ViewBag.CategoryList)
        {
            var name = item.Name;
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">

                        @{
                            string publisherId = Request.QueryString["publisherId"];
                            if (publisherId != null)
                            {
                                string categoryId = Request.QueryString["categoryId"];
                                if (categoryId != null)
                                {
                                    if (item.ID == Int32.Parse(categoryId))
                                    {
                                        <a class="pointer theloai " style="color: #fe980f;" href="/BookStore?categoryId=@item.ID&publisherId=@publisherId">@item.Name</a>
                                    }
                                    else
                                    {
                                        <a class="pointer theloai " href="/BookStore?categoryId=@item.ID&publisherId=@publisherId">@item.Name</a>
                                    }

                                }
                                else
                                {
                                    <a class="pointer theloai " href="/BookStore?categoryId=@item.ID&publisherId=@publisherId">@item.Name</a>

                                }
                            }
                            else
                            {
                                string categoryId = Request.QueryString["categoryId"];
                                if (categoryId != null)
                                {
                                    if (item.ID == Int32.Parse(categoryId))
                                    {
                                        <a class="pointer theloai " style="color: #fe980f;" href="/BookStore?categoryId=@item.ID">@item.Name</a>
                                    }
                                    else
                                    {
                                        <a class="pointer theloai " href="/BookStore?categoryId=@item.ID">@item.Name</a>
                                    }

                                }
                                else
                                {
                                    <a class="pointer theloai " href="/BookStore?categoryId=@item.ID">@item.Name</a>

                                }

                            }
                        }
                        @* @Html.ActionLink(name, "TheLoai","BookStore", new { id = item.ID },null)*@
                    </h4>
                </div>
            </div>
        }


    </div><!--/category-products-->

    <div class="brands_products">
        <!--brands_products-->
        <h2>Nhà xuất bản</h2>
        <div class="brands-name">
            <ul class="nav nav-pills nav-stacked">

                @foreach (var item in ViewBag.PublisherList)
                {

                    string categoryId = Request.QueryString["categoryId"];
                    if (categoryId != null)
                    {
                        string publisherId = Request.QueryString["publisherId"];
                        if (publisherId != null)
                        {
                            if (item.ID == Int32.Parse(publisherId))
                            {
                              <li><a class="pointer theloai " style="color: #fe980f;" href="/BookStore?publisherId=@item.ID&categoryId=@categoryId">@item.Name</a></li>  
                            }
                            else
                            {
                               <li><a class="pointer theloai " href="/BookStore?publisherId=@item.ID&categoryId=@categoryId">@item.Name</a></li> 

                            }

                        }
                        else
                        {
                            <li><a class="pointer theloai " href="/BookStore?publisherId=@item.ID&categoryId=@categoryId">@item.Name</a></li>


                        }
                    }
                    else
                    {
                        string publisherId = Request.QueryString["publisherId"];
                        if (publisherId != null)
                        {
                            if (item.ID == Int32.Parse(publisherId))
                            {
                            <li> <a class="pointer theloai " style="color: #fe980f;" href="/BookStore?publisherId=@item.ID">@item.Name</a> </li>
                            }
                            else
                            {
                              <li><a class="pointer theloai " href="/BookStore?publisherId=@item.ID">@item.Name</a></li>  
                            }

                        }
                        else
                        {
                              <li> <a class="pointer theloai " href="/BookStore?publisherId=@item.ID">@item.Name</a></li>

                        }

                    }


                    @*<li><a href="/BookStore/NXB/@item.ID"> <span class="pull-right"></span>@item.Name</a></li>*@
                }
            </ul>
        </div>
    </div><!--/brands_products-->
    @*<div class="price-range">
            <!--price-range-->
            <h2>Price Range</h2>
            <div class="well text-center">
                <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2"><br />
                <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
            </div>
        </div><!--/price-range-->*@

    <div class="shipping text-center">
        <!--shipping-->
        <img src="~/Content/images/home/shipping.jpg" alt="" />
    </div><!--/shipping-->

</div>





