@{
    Layout = null;
}

<div class="left-sidebar">
    <h2>Thể loại</h2>
    <div class="panel-group category-products" id="accordian">
        <!--category-productsr-->
        @{
            var flag = 0;
            var idpublisher = 0;
            var idcategory = 0;
        }
        @foreach (var item in ViewBag.CategoryList)
        {
            var name = item.Name;
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">

                        @{
                            string categoryId = Request.QueryString["categoryId"];
                            string publisherId = Request.QueryString["publisherId"];
                            

                           // string publisherId = Request.QueryString["publisherId"];
                            if (publisherId != null)
                            {
                                idpublisher = Convert.ToInt32(publisherId);
                              //  string categoryId = Request.QueryString["categoryId"];
                                if (categoryId != null)
                                {
                                    if (item.ID == Int32.Parse(categoryId))
                                    {
                                        <a class="pointer theloai " style="color: #fe980f;" href="/BookStore?categoryId=@item.ID&publisherId=@publisherId">@item.Name</a>
                                    }
                                    else
                                    {
                                        <a class="pointer theloai " href="/BookStore?categoryId=@item.ID&publisherId=@publisherId">@item.Name</a>
                                    }
                                    flag = 1;
                                }
                                else
                                {
                                    <a class="pointer theloai " href="/BookStore?categoryId=@item.ID&publisherId=@publisherId">@item.Name</a>

                                }

                            }
                            else
                            {
                              //  string categoryId = Request.QueryString["categoryId"];
                                if (categoryId != null)
                                {
                                    if (item.ID == Int32.Parse(categoryId))
                                    {
                                        <a class="pointer theloai " style="color: #fe980f;" href="/BookStore?categoryId=@item.ID">@item.Name</a>
                                    }
                                    else
                                    {
                                        <a class="pointer theloai " href="/BookStore?categoryId=@item.ID">@item.Name</a>
                                    }
                                    flag = 1;
                                }
                                else
                                {
                                    <a class="pointer theloai " href="/BookStore?categoryId=@item.ID">@item.Name</a>

                                }

                            }


                        }
                        @* @Html.ActionLink(name, "TheLoai","BookStore", new { id = item.ID },null)*@
                    </h4>
                </div>
            </div>
        }
        @{
            if (flag == 1)
            {
                <div class="panel-title" style="  margin-top: 15px; margin-left: 20px; color: brown">
                    <a class="pointer theloai " href="/BookStore?&publisherId=@idpublisher">Hủy lựa chọn</a>
                </div>
                flag = 0;

            }
        }

    </div><!--/category-products-->

    <div class="brands_products">
        <!--brands_products-->
        <h2>Nhà xuất bản</h2>
        <div class="brands-name">
            <ul class="nav nav-pills nav-stacked">

                @foreach (var item in ViewBag.PublisherList)
                {

                    string categoryId = Request.QueryString["categoryId"];
                    if (categoryId != null)
                    {
                        idcategory = Convert.ToInt32(categoryId);
                        string publisherId = Request.QueryString["publisherId"];
                        if (publisherId != null)
                        {
                            if (item.ID == Int32.Parse(publisherId))
                            {
                                <li><a class="pointer theloai " style="color: #fe980f;" href="/BookStore?publisherId=@item.ID&categoryId=@categoryId">@item.Name</a></li>
                            }
                            else
                            {
                                <li><a class="pointer theloai " href="/BookStore?publisherId=@item.ID&categoryId=@categoryId">@item.Name</a></li>

                            }
                            flag = 1;
                        }
                        else
                        {
                            <li><a class="pointer theloai " href="/BookStore?publisherId=@item.ID&categoryId=@categoryId">@item.Name</a></li>


                        }
                    }
                    else
                    {
                        string publisherId = Request.QueryString["publisherId"];
                        if (publisherId != null)
                        {
                            if (item.ID == Int32.Parse(publisherId))
                            {
                                <li> <a class="pointer theloai " style="color: #fe980f;" href="/BookStore?publisherId=@item.ID">@item.Name</a> </li>
                            }
                            else
                            {
                                <li><a class="pointer theloai " href="/BookStore?publisherId=@item.ID">@item.Name</a></li>
                            }
                            flag = 1;

                        }
                        else
                        {
                            <li> <a class="pointer theloai " href="/BookStore?publisherId=@item.ID">@item.Name</a></li>

                        }

                    }


                    @*<li><a href="/BookStore/NXB/@item.ID"> <span class="pull-right"></span>@item.Name</a></li>*@
                }

                @{
                    if (flag == 1)
                    {
                        <div class="panel-title" style="  margin-top: 8px; margin-left: 25px; color: brown">
                            <a class="pointer theloai " href="/BookStore?categoryId=@idcategory">Hủy lựa chọn</a>
                        </div>
                        flag = 0;

                    }
                }
            </ul>
        </div>
    </div>

 
    
    <div class="brands_products" style="margin-bottom: 30px">
        <!--brands_products-->
        <h2>Price</h2>
        <div class="brands-name">
            <ul class="nav nav-pills nav-stacked">
                @{
                    string price1 = Request.QueryString["price1"];
                    string price2 = Request.QueryString["price2"];

                    if (price1 != null || price2 != null)
                    {
                        string categoryId = Request.QueryString["categoryId"];
                        string publisherId = Request.QueryString["publisherId"];
                        if (price1== null)
                        {
                            price1 ="0";
                        }
                        if(price2== null)
                        {
                            price2 = "0";
                        }
                        if(categoryId == null)
                        {
                            categoryId = "0";
                        }
                        if(publisherId == null)
                        {
                            publisherId = "0";
                        }
                        if (Int32.Parse(price2) == 50000 )
                        {


                            <li> <a class="pointer theloai " style="color: #fe980f;" href="/BookStore?price2=50000&categoryId=@categoryId&publisherId=@publisherId">Dưới 50.000 đ</a> </li>
                            <li><a class="pointer theloai " href="/BookStore?price1=50000&price2=200000&">Từ 50.000 đ - 200.000 đ</a> </li>
                            <li><a class="pointer theloai " href="/BookStore?price1=50000&price2=200000">Từ 200.000 đ - 500.000 đ</a> </li>
                            <li> <a class="pointer theloai " href="/BookStore?price1=500000">Trên 500.000 đ</a></li>
                        }
                        else if (Int32.Parse(price1) == 50000 && Int32.Parse(price2) == 200000)
                        {
                            <li> <a class="pointer theloai " href="/BookStore?price2=50000">Dưới 50.000 đ</a> </li>
                            <li><a class="pointer theloai " style="color: #fe980f;" href="/BookStore?price1=50000&price2=200000&categoryId=@categoryId&publisherId=@publisherId">Từ 50.000 đ - 200.000 đ</a> </li>

                            <li><a class="pointer theloai " href="/BookStore?price1=50000&price2=200000">Từ 200.000 đ - 500.000 đ</a> </li>
                            <li> <a class="pointer theloai " href="/BookStore?price1=500000">Trên 500.000 đ</a></li>
                        }
                        else if (Int32.Parse(price1) == 200000 && Int32.Parse(price2) == 500000)
                        {
                            <li> <a class="pointer theloai " href="/BookStore?price2=50000">Dưới 50.000 đ</a> </li>
                            <li><a class="pointer theloai " href="/BookStore?price1=50000&price2=200000">Từ 50.000 đ - 200.000 đ</a> </li>
                            <li><a class="pointer theloai " style="color: #fe980f;" href="/BookStore?price1=50000&price2=200000&categoryId=@categoryId&publisherId=@publisherId">Từ 200.000 đ - 500.000 đ</a> </li>

                            <li> <a class="pointer theloai " href="/BookStore?price1=500000">Trên 500.000 đ</a></li>
                        }
                        else if (Int32.Parse(price1) == 500000)
                        {
                            <li> <a class="pointer theloai " href="/BookStore?price2=50000">Dưới 50.000 đ</a> </li>
                            <li><a class="pointer theloai " href="/BookStore?price1=50000&price2=200000">Từ 50.000 đ - 200.000 đ</a> </li>
                            <li><a class="pointer theloai " href="/BookStore?price1=50000&price2=200000">Từ 200.000 đ - 500.000 đ</a> </li>

                            <li> <a class="pointer theloai " style="color: #fe980f;" href="/BookStore?price1=500000&categoryId=@categoryId&publisherId=@publisherId">Trên 500.000 đ</a></li>

                        }

                        flag = 1;
                    }
                    else
                    {
                        <li> <a class="pointer theloai " href="/BookStore?price2=50000">Dưới 50.000 đ</a> </li>
                        <li><a class="pointer theloai " href="/BookStore?price1=50000&price2=200000">Từ 50.000 đ - 200.000 đ</a> </li>
                        <li><a class="pointer theloai " href="/BookStore?price1=50000&price2=200000">Từ 200.000 đ - 500.000 đ</a> </li>
                        <li> <a class="pointer theloai " href="/BookStore?price1=500000">Trên 500.000 đ</a></li>

                    }


                }





                @{
                    if (flag == 1)
                    {
                        string categoryId = Request.QueryString["categoryId"];
                        string publisherId = Request.QueryString["publisherId"];
                        <div class="panel-title" style="  margin-top: 8px; margin-left: 25px; color: brown">
                            <a class="pointer theloai " href="/BookStore?publisherId=@publisherId&categoryId=@categoryId">Hủy lựa chọn</a>

                        </div>
                        flag = 0;

                    }
                }
            </ul>
        </div>
    </div>


</div>