<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | E-Shopper</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    @*<link href="~/Content/css/font-awesome.min.css" rel="stylesheet">*@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" 
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" 
          crossorigin="anonymous">
    
    <link href="~/Content/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/css/price-range.css" rel="stylesheet">
    <link href="~/Content/css/animate.css" rel="stylesheet">
    <link href="~/Content/css/main.css" rel="stylesheet">
    <link href="~/Content/css/responsive.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="~/Scripts/js/html5shiv.js"></script>
    <script src="~/Scripts/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
    <header id="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-phone"></i> 0399848686 </a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i> BookStoreMS@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header_top-->

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-md-4 clearfix">
                        <div class="logo pull-left">
                            <a href="/"><img src="~/Content/images/home/logo.png" alt="" /></a>
                        </div>
                        
                    </div>
                    <div class="col-md-8 clearfix">
                        <div class="shop-menu clearfix pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href=""><i class="fa fa-user"></i>Tài khoản </a></li>
                                <li><a href=""><i class="fa fa-star"></i>Danh sách yêu thích</a></li>
                                <li><a href="checkout.html"><i class="fa fa-crosshairs"></i>Kiểm tra hóa đơn</a></li>
                                <li>
                                    @{
                                        var amount = Session["cartAmount"];
                                        if (amount == null)
                                        {
                                            amount = 0;
                                        }
                                    }

                                    <a href="/Cart/Index" class="notification-icon">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span class="badge">@amount</span>
                                        Giỏ hàng
                                    </a>
                                    @*<a href="cart.html"><i class="fa fa-shopping-cart"></i>Giỏ hàng</a>*@
                                </li>
                                <li><a href="/Account/Login"><i class="fa fa-lock"></i>Đăng nhập</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->

        <div class="header-bottom">
            <!--header-bottom-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="mainmenu pull-left">
                            <ul class="nav navbar-nav collapse navbar-collapse">
                                <li>@Html.ActionLink("Trang chủ", "Index", "BookStore")</li>
                                <li class="dropdown">
                                    @*<a href="#">Danh mục sách<i class="fa fa-angle-down"></i></a>*@
                                    @Html.ActionLink("Danh mục sách", "Index", "BookStore")
                                    <ul role="menu" class="sub-menu">
                                        <li>@Html.ActionLink("Văn học Việt Nam", "TieuThuyet", "BookStore")</li>
                                        <li><a href="product-details.html">Văn học nước ngoài</a></li>
                                        <li><a href="checkout.html">Tiểu thuyết</a></li>
                                        <li><a href="cart.html">Sách kỹ năng</a></li>
                                        <li><a href="login.html">Sách Song ngữ</a></li>
                                        <li><a href="~/Views/BookStore/Index.cshtml">Sách thiếu nhi</a></li>

                                    </ul>
                                </li>
                                @*<li class="dropdown">
                                    <a href="#">Blog<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="blog.html">Blog List</a></li>
                                        <li><a href="blog-single.html">Blog Single</a></li>
                                    </ul>
                                </li>*@

                                <li>@Html.ActionLink("Sách bán chạy","SachBanChay", "BookStore")</li>
                                <li><a href="contact-us.html">Giới thiệu</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        @*<div class="search_box pull-right">*@
                        @using (Html.BeginForm("TimKiem", "BookStore", FormMethod.Get))
                        {

                            @Html.TextBox("SearchString") <input type="submit" value="Tìm kiếm" />
                            
                        }

                      
                    </div>
                </div>
            </div>
        </div><!--/header-bottom-->
    </header><!--/header-->

    <section id="slider">
        <!--slider-->
        <div class="container">
            <div class="row">
                @RenderSection("Slider", false)
                
            </div>
        </div>
    </section><!--/slider-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    @RenderPage("~/Views/Shared/_LayoutLeft.cshtml")
                </div>
                
                   @RenderBody()
        
                
                
            </div>
        </div>
    </section>
    
    @RenderPage("~/Views/Shared/_LayoutFooter.cshtml")




    <script src="~/Scripts/js/jquery.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/jquery.scrollUp.min.js"></script>
    <script src="~/Scripts/js/price-range.js"></script>
    <script src="~/Scripts/js/jquery.prettyPhoto.js"></script>
    <script src="~/Scripts/js/main.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.9.0/sweetalert2.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>
    <script src="~/Scripts/script.js"></script>

</body>
</html>