@model book.Models.Entities.Book

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chỉnh sửa</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Thông tin cuốn sách</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Review, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Review, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Review, "", new { @class = "text-danger" })*@
                <textarea name="Review" style="width: 100%" rows="6" >
                    @Model.Review
                </textarea>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Thể loại</label>
            @*@Html.LabelFor(model => model.ID_Category, "ID_Category", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.DropDownList("ID_Category", (IEnumerable<SelectListItem>) ViewBag.CategoryList, htmlAttributes: new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.ID_Category, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Nhà xuất bản</label>
            @*@Html.LabelFor(model => model.ID_Publisher, "ID_Publisher", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.DropDownList("ID_Publisher", (IEnumerable<SelectListItem>) ViewBag.PublisherList, htmlAttributes: new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.ID_Publisher, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MainImage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type='file' accept=".jpg,.jpeg,.png,.bmp" id="input-image" />
                @Html.EditorFor(model => model.MainImage, new {htmlAttributes = new {@class = "form-control hidden", @id="image"}})
                @Html.ValidationMessageFor(model => model.MainImage, "", new {@class = "text-danger"})
                @if (Model.MainImage != "")
                {
                    <img style="max-width: 300px; margin-top: 10px" class="book-image"  src="@Model.MainImage"/>
                }
                else
                {
                    <img style="max-width: 300px; margin-top: 10px" class="book-image" />
                }
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    <span class="fa fa-arrow-circle-left" style="color: red"></span>
    @Html.ActionLink("Trở lại", "Index")
</div>
