@model book.Models.Entities.Book

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chỉnh sửa</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Thông tin cuốn sách</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Review, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @*@Html.EditorFor(model => model.Review, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Review, "", new { @class = "text-danger" })*@
                        <textarea name="Review" class="form-control" rows="5">
                            @Model.Review
                        </textarea>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">Thể loại</label>
                    @*@Html.LabelFor(model => model.ID_Category, "ID_Category", htmlAttributes: new { @class = "control-label col-md-3" })*@
                    <div class="col-md-9">
                        @Html.DropDownList("ID_Category", (IEnumerable<SelectListItem>)ViewBag.CategoryList, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ID_Category, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">Nhà xuất bản</label>
                    @*@Html.LabelFor(model => model.ID_Publisher, "ID_Publisher", htmlAttributes: new { @class = "control-label col-md-3" })*@
                    <div class="col-md-9">
                        @Html.DropDownList("ID_Publisher", (IEnumerable<SelectListItem>)ViewBag.PublisherList, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ID_Publisher, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group">
                    @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                    </div>
                </div>*@
                <div class="form-group">
                    @Html.LabelFor(model => model.Author, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group" style="text-align: center">
                 @*   @Html.LabelFor(model => model.MainImage, htmlAttributes: new { @class = "control-label col-md-3" })*@
                    <div class="col-md-9 hidden">
                        <input type='file' accept=".jpg,.jpeg,.png,.bmp" id="input-image" />
                        @Html.EditorFor(model => model.MainImage, new {htmlAttributes = new {@class = "form-control hidden", @id="image"}})
                        @Html.ValidationMessageFor(model => model.MainImage, "", new {@class = "text-danger"})
                        
                    </div>
                    @if (Model.MainImage != "")
                    {
                        <img style="max-height: 300px; margin-top: 10px" class="book-image"  src="@Model.MainImage"/>
                    }
                    else
                    {
                        <img style="max-height: 300px; margin-top: 10px" class="book-image" />
                    }
                    <div class="mx-auto my-auto" style="margin-top: 15px">
                        <a class="btn btn-danger" id="uploadImage"><i class="fa fa-upload" style="margin-right: 10px"></i>Tải ảnh lên</a>
                    </div>
                </div>
            </div>
        </div>

        

        

        <div class="form-group">
            <div class="" style="text-align: center; margin: 20px 0">
                <input type="submit" value="Lưu" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    <span class="fa fa-arrow-circle-left" style="color: red"></span>
    @Html.ActionLink("Trở lại", "Index")
</div>
