@model PagedList.IPagedList<book.Models.ViewModels.BookVM>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách sách</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = " btn btn-warning " })
</p>
<table class="table">
    <tr>
        <th style="width: 300px">
            Tên cuốn sách
        </th>
        <th>
            Giới thiệu
        </th>
        <th>
            Giá
        </th>
        <th>
            Số lượng
        </th>
       
        <th style="width: 100px">
            Thể loại
        </th>
        <th style="width: 130px">
            Nhà xuất bản
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Review)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublisherName)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "btn btn-primary fa fa-edit" }) 
            @Html.ActionLink(" ", "Details", new { id = item.ID }, new { @class = "btn btn-success fa fa-folder-open-o" }) 
            @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "btn btn-danger fa fa-trash-o" })
        </td>
    </tr>
}

</table>
@Html.PagedListPager(Model, page => Url.Action("Index",new { page }))